body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
img{
  display: block;
  width: 100%;
}
.fw-200{
  font-weight: 200;
}
.fw-400{
  font-weight: 400;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fs-10{
  font-size: 10px;
}
.fs-14{
  font-size: 14px;
}
.fs-20{
  font-size: 20px;
}
.fs-25{
  font-size: 25px;
}
.fs-30{
  font-size: 30px;
}
.fs-40{
  font-size: 40px;
}
.fs-50{
  font-size: 50px;
}
.text-white{
  color: #FFFFFF;
}
.text-center{
  text-align: center;
}
.main-container{
    background: black
  }
  .header-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 6px;
    padding-top: 20px;
    padding-bottom: 18px;
    border-bottom: 1px solid #FFFFFF;

  }
  .container{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
    min-width: 250px;
  }
  .navbar{
    display: flex;
    max-width: 656px;
    align-items: center;
    gap: 35px;
  }
  .nav-button{
    display: flex;
    gap: 12px
  }
  .product{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 138px;
    min-height: 38px;
    background: #343434;
    border-radius: 8px;
  }
  .product-item1{
    margin-left: 5px;
    max-width: 16px;
    height: 16px;
  }
  .option-product{
    background: black;
  }
  .product-item2{
    padding-right: 18px;
    background: none;
    border: none;
  }
  .logo{
    max-width: 88px;
    max-height: 52px;
  }
  .nav-text{
   text-decoration: none;
  }
  .btn-register{
   min-width: 126px;
   min-height: 38px;
   border: 1px solid #FFFFFF;
   background: none;
   border-radius: 42px;
  }
  .horizontal{
    min-height: 1px;
    margin: 0;
    border: 1px solid #666666;
  }
  .btn-register:hover{
    background: linear-gradient(90deg, #BC67DB 0%, #E91F92 100%);
    border: none;
  }
  .launch-App{
   min-width: 156px;
   min-height: 38px;
   border: none;
   background: linear-gradient(90deg, #BC67DB 0%, #E91F92 100%);
   border-radius: 38px;
  }
  .horizontal{
    min-height: 0px;
    border: 1px solid #666666;
  }
  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 145px;
    border-bottom: 1px solid #FFFFFF;
  }
  .banner-text{
    max-width: 794px;
    margin-left: 16px;
  }
  .community{
    text-align: center;
    font-size: 57px;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .economy{
   margin-top: 15px;
   max-width: 569px;
   margin-left: 123px;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
  }
  .btn-container{
    display: flex;
    margin-top: 58px;
    margin-left: 24px;
    justify-content: center;
  }
  .btn-primary{
    background: linear-gradient(90deg, #BC67DB 0%, #E91F92 100%);
    border: none;
  }
  .btn-secondary{
    border: 1px solid #FFFFFF;
    background: none;
    margin-left: 10px;
  }
  .btn{
    min-width: 179px;
    min-height: 48px;
    border-radius: 6px;
  }
  .btn-secondary:hover{
    background: linear-gradient(90deg, #BC67DB 0%, #E91F92 100%);
    border: none;
  }
  .detail-container{
    border-bottom: 1px solid #FFFFFF;
  }
  .details{
    display: flex;
    max-width: 1108px;
    justify-content: space-between;
    margin: 18px auto 40px auto;
  }
  .price{
    text-align: center;
    font-size: 45px;
  }
  .detail-text{
    margin-top: -50px;
    text-align: center;
  }
 
  /* Fingertip Section Css */
  .fingertip{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 100px;
    border-bottom: 1px solid #FFFFFF;
  }
  .fingertip-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1210px;
    justify-content: space-around;
    padding-left: 70px;
  }
  .fingertip-text{
    max-width: 524px;
  }
  .wallet{
    max-width: 542px;
  }
  .profit{
    margin: 0px;
    min-height: 122px;
    max-width: 414px;
    line-height: 120%;
  }
  .pro-text{
    margin-top: 60px;
  }
  .depost-text{
    min-width: 541px;
    margin-top: 33px;
    line-height: 30px;
  }
  .investor{
    margin-top: 55px;
    padding: 10px 49px 5px 20px;
    max-width: 310px;
    min-height: 110px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
  }
  .new-invester{
    margin: 0;
  }
  .learn-text{
    line-height: 21px;
  }
  .connect{
    margin-top: 21px;
    max-width: 351px;
    min-height: 50px;
    background: #FAD5DE;
    border-radius: 17px;
    padding-left: 20px;
    padding-top: 12px;
 }
 .connect-wallet{
  margin: 0px;
 }
 .fingertip-img{
  margin-top: 70px;
  width: 630px;
  height: 527px;
  background-image: url("/Images/fingertip.png");
 }
 /* Crypto Section */
 .crypto{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #343434;
  padding: 90px 0px 134px 0px;
  border-bottom: 1px solid #FFFFFF;
 }
 .minutes{
  margin: 0;
  line-height: 120%;
 }
 .crypto-icons{
  display: flex;
  margin-top: 107px;
  gap: 145px;
  flex-wrap: wrap;
 }
 .register{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 270px;
 }
 .regiter-text{
  margin: 0;
  margin-top: 15px;
 }
 .lorem{
  font-size: 13px;

 }
 .note-img{
  max-width: 76px;
  max-height: 76px;
 }
 /* Plateform section */
 .platform-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
 }
.platform{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1107px;
  padding: 40px 0px 110px 0px;
}
.unlimited{
  max-width: 590px;
  height: 122px;
  line-height: 120%;
  font-size: 51px;
}
.kompwnd-make{
  max-width: 422px;
  line-height: 30px;
  margin-left: 35px;
  text-align: left;
}
.accest{
  display: flex;
  flex-wrap: wrap;
  gap: 180px;
}
.accest:nth-child(odd) {
  flex-direction: row-reverse;
}
.accest-text{
  margin-top: 40px;
  max-width: 465px;
}
.earn-accest{
  margin: 0;
  margin-top: 50px;
  max-width: 465px;
  font-size: 51px;
  text-align: left;
  line-height: 120%;
}
.accest-make{
  max-width: 408px;
  line-height: 30px;
  text-align: left;
}
.accest-icon{
  margin-top: 60px;
  max-width: 328px;
  max-height: 421px;
}
.accest-img{
  max-width: 328px;
  max-height: 421px;
}
.accest-icon2{
  max-width: 328px;
  max-height: 421px;
}
/* Access Section */
.access-contanier{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 0;
  background: #343434;
  border-bottom: 1px solid #FFFFFF;
}
.access{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1150px;
}
.useful-text{
  max-width: 629px;
  font-size: 51px;
}
.access-card-container{
  display: flex;
  gap: 44px;
  flex-wrap: wrap;
}
.access-card{
  max-width: 339px;
  max-height: 401px;
  padding: 44px 28px;
  background: #FFFFFF;
  border-radius: 31px;
}
.access-card-item{
  display: flex;
  gap: 70px;
}
.pre-market{
  margin: 0;
  max-width: 131px;
  max-height: 64px;
}
.magic-ball{
  margin-top: 8px;
  width: 70px;
  height: 70px;
}
.btn-predict{
  margin-top: 60px;
  border-radius: 6px;
  min-width: 283px;
 min-height: 50px;
}
.defi-text{
  margin-top: 25px;
  max-width: 260px;
  height: 104px;
  line-height: 24px;
  font-size: 16px;
}
/* Growing Section */
.growing-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 110px 0px 180px 0px;
  max-width: 1363px;
  border-bottom: 1px solid #FFFFFF;
}
.growing-text{
  margin-left: 60px;
  max-width: 590px;
}
.grwoing-items{
  max-width: 753px;
}
.network{
  margin: 0;
  max-width: 590px;
  font-size: 64px;
line-height: 117%;
}
.ecosystem{
  font-weight: 500;
  max-width: 506px;
  font-size: 16px;
  line-height: 27px; 
}
.btn-eco{
  margin-top: 40px;
 min-width: 242px;
 min-height: 50px;
 border-radius: 6px;
}
.btn-grwoing-bg{
  background: rgba(79, 79, 79, 0.49);
  backdrop-filter: blur(8px);
  border-radius: 17px;
}
.btn-grwoing-bg:hover{
  cursor: pointer;
}
.alta-crypt{
  display: flex;
  gap: 36px;
  justify-content: center;
  align-content: center;
}
.btn-alta{
  max-width: 137px;
  max-height: 117px;
  padding: 39px 27px;
}
.alta-img{
  width: 83px;
height: 39px;
}
.btn-tote{
  max-width: 123px;
  max-height: 117px;
  padding: 43px 28px;
}
.btn-lottery{
  margin-top: 15px;
  max-width: 203px;
  max-height: 81px;
}
.tote-container{
  display: flex;
  align-items: center;
  margin-top: 39px;
  gap: 40px;
}
.btn-finace{
  max-width: 209px;
  max-height: 117px;
  padding: 25px;
}
.btn-lunch{
  overflow: hidden;
  max-width: 279px;
  max-height: 81px;
  padding: 31px 94px 24px 42px;
}
.btn-skill{
  max-width: 279px;
  max-height: 81px;
  padding: 19px 42px;
}
.btn-infra{
  max-width: 179px;
  max-height: 117px;
  padding: 41px 8px 35px 28px;
}
.btn-mdu{
  max-width: 145px;
  max-height: 140px;
  padding: 49px 20px 50px 30px;
}
.btn-hashpage{
  max-width: 179px;
  max-height: 65px;
  padding: 22px 30px 17px 31px;
}
.btn-gvn{
  max-width: 106px;
  max-height: 65px;
  padding: 22px 17px 27px 31px;
}
.btn-ala{
  max-width: 179px;
  max-height: 65px;
  padding: 22px 37px 17px 31px;
}
.btn-margin{
  margin-left: 50px;
}
.btn-hashpage-container{
  float: right;
}
/* Footer Section */
.footer-container{
  max-width: 1440px;
  background: #F9F9F9;
  padding: 50px 200px 100px 100px;
}
.footer-data{
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
}
.footer-mint{
  margin-top: 20px;
  max-width: 173px;
  max-height: 30px;
 font-size: 18px;
}
.email-ft{
  margin-top: 44px;
}
.reserved{
  margin-top: 28px;
  max-width: 132px;
  max-height: 46px;
  line-height: 21px;
}
.product-ft{
  font-size: 18px;
  line-height: 27px;
}
.social-container{
  display: flex;
  flex-wrap: wrap;
   gap: 10px;
  max-width: 110px;
  margin-top: 10px;
}
.social-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background: #5F505F;
  border-radius: 100%;
}
.social-pix{
  max-width: 15px;
  max-height: 15px;
}
.footer-text{
  text-decoration: none;
  display: block;
  margin-top: 8px;
  color: black;
}