body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
img{
  display: block;
  width: 100%;
}
.fw-200{
  font-weight: 200;
}
.fw-400{
  font-weight: 400;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fs-10{
  font-size: 10px;
}
.fs-14{
  font-size: 14px;
}
.fs-20{
  font-size: 20px;
}
.fs-25{
  font-size: 25px;
}
.fs-30{
  font-size: 30px;
}
.fs-40{
  font-size: 40px;
}
.fs-50{
  font-size: 50px;
}
.text-white{
  color: #FFFFFF;
}
.text-center{
  text-align: center;
}
.main-container{
    background: black
  }
  .header-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 6px;
    padding-top: 20px;
    padding-bottom: 18px;
    border-bottom: 1px solid #FFFFFF;

  }
  .container{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
    min-width: 250px;
  }
  .navbar{
    display: flex;
    max-width: 656px;
    align-items: center;
    gap: 35px;
  }
  .nav-button{
    gap: 10px
  }
  .product{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 138px;
    min-height: 38px;
    background: #343434;
    border-radius: 8px;
  }
  .product-item1{
    margin-left: 5px;
    max-width: 16px;
    height: 16px;
  }
  .option-product{
    background: black;
  }
  .product-item2{
    padding-right: 18px;
    background: none;
    border: none;
  }
  .logo{
    min-width: 88px;
    min-height: 52px;
  }
  .nav-text{
   text-decoration: none;
  }
  .btn-register{
   min-width: 126px;
   min-height: 38px;
   border: 1px solid #FFFFFF;
   background: none;
   border-radius: 42px;
  }
  .horizontal{
    min-height: 1px;
    margin: 0;
    border: 1px solid #666666;
  }
  .btn-register:hover{
    background: linear-gradient(90deg, #BC67DB 0%, #E91F92 100%);
    border: none;
  }
  .launch-App{
   min-width: 156px;
   min-height: 38px;
   border: none;
   background: linear-gradient(90deg, #BC67DB 0%, #E91F92 100%);
   border-radius: 38px;
  }
  .horizontal{
    min-height: 0px;
    border: 1px solid #666666;
  }
  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 145px;
    border-bottom: 1px solid #FFFFFF;
  }
  .banner-text{
    max-width: 794px;
    margin-left: 16px;
  }
  .community{
    text-align: center;
    font-size: 57px;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .economy{
   margin-top: 15px;
   max-width: 569px;
   margin-left: 123px;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
  }
  .btn-container{
    display: flex;
    margin-top: 58px;
    margin-left: 24px;
    justify-content: center;
  }
  .btn-primary{
    background: linear-gradient(90deg, #BC67DB 0%, #E91F92 100%);
    border: none;
  }
  .btn-secondary{
    border: 1px solid #FFFFFF;
    background: none;
    margin-left: 10px;
  }
  .btn{
    min-width: 179px;
    min-height: 48px;
    border-radius: 6px;
  }
  .btn-secondary:hover{
    background: linear-gradient(90deg, #BC67DB 0%, #E91F92 100%);
    border: none;
  }
  .detail-container{
    border-bottom: 1px solid #FFFFFF;
  }
  .details{
    display: flex;
    max-width: 1108px;
    justify-content: space-between;
    margin: 18px auto 40px auto;
  }
  .price{
    text-align: center;
    font-size: 45px;
  }
  .detail-text{
    margin-top: -50px;
    text-align: center;
  }
 
  /* Second Section Css */
  .fingertip{
    padding-top: 40px;
    padding-bottom: 100px;
    border-bottom: 1px solid #FFFFFF;
  }
  .fingertip-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
  }
  .fingertip-text{
    margin-left: 70px;
    max-width: 524px;
  }
  .wallet{
    max-width: 542px;
  }
  .profit{
    margin: 0px;
    min-height: 122px;
    max-width: 414px;
    line-height: 120%;
  }
  .pro-text{
    margin-top: 60px;
  }
  .depost-text{
    min-width: 541px;
    margin-top: 33px;
    line-height: 30px;
  }
  .investor{
    margin-top: 55px;
    padding: 10px 49px 5px 20px;
    max-width: 310px;
    min-height: 110px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
  }
  .new-invester{
    margin: 0;
  }
  .learn-text{
    line-height: 21px;
  }
  .connect{
    margin-top: 21px;
    max-width: 351px;
    min-height: 50px;
    background: #FAD5DE;
    border-radius: 17px;
    padding-left: 20px;
    padding-top: 12px;
 }
 .connect-wallet{
  margin: 0px;
 }
 .fingertip-img{
  margin-top: 70px;
  margin-left: 50px;
  width: 630px;
  height: 527px;
  background-image: url("/Images/fingertip.png");
 }
 /* Crypto Section */
 .crypto{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #343434;
  padding: 90px 0px;
  border-bottom: 1px solid #FFFFFF;
 }
 .minutes{
  margin: 0;
  line-height: 120%;
 }
 .crypto-icons{
  display: flex;
  margin-top: 107px;
  gap: 145px;
 }
 .register{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 270px;
 }
 .regiter-text{
  margin: 0;
  margin-top: 15px;
 }
 .lorem{
  font-size: 13px;

 }
 .note-img{
  max-width: 76px;
  max-height: 76px;
 }
 /* Plateform section */
.platform{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.unlimited{
  max-width: 620px;
  height: 122px;
  line-height: 120%;
}